/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/Home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.Home_container__d256j {
    padding: 2rem;
    font-size: 1.3rem;
    max-width: 48rem;
    margin: 0 auto;
  }
  
  .Home_form__FrVR9 {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .Home_form__FrVR9 input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 0.25rem;
    font-size: 1.3rem;
    margin-right: 1rem;
  }
  
  .Home_form__FrVR9 button {
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.3rem;
  }
  
  .Home_imageWrapper__rfK7j {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative
  }
