@import url('https://fonts.googleapis.com/css2?family=Lora:wght@900&display=swap');

.container {
  position: relative;
  margin-top: 17rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  font-family: 'Lora', serif;
  font-weight: 900; /* Make the text even bolder */
  align-items: center;
}

.tagline {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.form input {
  width: 100%; /* Make the input box half the width of its container */
  font-size: 1.2rem;
  font-family: 'Lora', serif;
  align-items: center;
}

.formControls select, .formControls button {
  font-size: 1.3rem; /* Increase the font size */
  border: 1px solid #000;
  border-radius: 0.25rem;
  font-family: 'Lora', serif;
  display: flex;
  align-items: center; /* Vertically align the elements */
  justify-content: space-between; /* Distribute the space evenly between the elements */
}

.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; /* Prevent the particles from causing the page to scroll */
  align-items: center;
  justify-content: center;

  
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Disable scrolling */
  align-items: center;
}

.particles {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Make the children fill the container vertically */
  border: 1.3px solid #000;
  border-radius: 0.1rem;
  width: 60%; /* Adjust this to your preference */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem; /* Add a margin at the bottom */
  
  
}

.btnContainer {
  display: flex;
  font-family: 'Lora', serif;
  align-items: stretch;

  border-left: 1px solid #000;
}

.btn {
  color: #000000; /* Set the font color to black */
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: 'Lora', serif;
  justify-content: center;
  padding: 0.7rem;
  font-size: 1.2rem;
  z-index: 10; /* Adjust this value as needed */
  background: #ffffff;
}

.btn:hover {
  cursor: pointer;
}

.customSelector:hover {
  cursor: pointer;
}

.synoSearchBox {
  margin-bottom: 1.5rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: left;
  background: #ffffff;
  font-size: 1rem;
  font-family: 'Lora', serif;
}

.synoSearchBox:hover {
  cursor: pointer;
}



.toolsForm {
  display: flex;
  justify-content: center; /* Horizontally center the elements */
  align-items: center; /* Vertically center the elements */
  font-family: 'Lora', serif;
}


.autoOpenSearchLabel {
  white-space: nowrap;
  font-family: 'Lora', serif;
  margin-Right: 20px;
  
}

.openInNewTabLink {
  font-family: 'Lora', serif;
  margin-Left: 10px;
  text-decoration: underline;
  color: #000;
}