.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items towards the start of the container */
  align-items: center;
  height: 100vh;
  text-align: center;
  padding-top: 25vh; /* Add some padding at the top */
  color: black;
}

.title {
  font-size: 2rem;
}

.tagline {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  width: 50%; /* Make the input box half the width of its container */
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-left: auto; /* Center the input box */
  margin-right: auto; /* Center the input box */
}

.formControls select, .formControls button {
  padding: 1rem; /* Increase the padding */
  font-size: 1.3rem; /* Increase the font size */
  border: 1px solid #000;
  border-radius: 0.25rem;
}

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.particles {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}